<div class="all-parrent">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <p> Creat Faculty</p>
                </div>
                <div class="card-body">
                    Name: <br>
                    <form [formGroup]="facultyForm">
                        <input type="text" formControlName="name" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" >
                    </form>
                    <p id="error">{{errorName}}</p>
                   <div class="button-parrent">
                    <button ria-pressed="true" class="btn btn-block btn-success active"
                    type="button" id="button2" (click)='goFacultyTable()'>Cancel</button>
                    <button aria-pressed="true" class="btn btn-block btn-success active"
                    type="button" id="button1" (click)="addFaculty()" >Save</button >  
                </div> 
         </div>
     </div>
</div>